body {
  font-size: calc(0.05vw + 16px);
}

.todo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: aqua;
}

.todo>.complete-state {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 2rem;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  background-color: transparent;
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  cursor: default;
  user-select: none;
}